apiVersion: v1
kind: Service
metadata:
  name: {{ .Values.api.name }}-svc
spec:
  type: NodePort
  selector:
    app.kubernetes.io/name: etzba-api
  ports:
  - port: 8080
    targetPort: 8080
    protocol: TCP
    nodePort: 30001
